<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/static/img/cadastro.png" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <title>Cadastro de Alunos</title>
    </head>

    <body>
    
        <h1 class="alert alert-success" align= "center">Tabela de Alunos</h1>
        <br>
        <a href="/add"><img style="margin-left: 100;" src="{{url_for('static', filename='img/adicionar.png')}}" alt="adicionar"></a>
        <br>
        <br> 
        <table class="table table-striped">
            <thead align="center">
                <tr>
                    <th>Ra</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Logradouro</th>
                    <th>Numero</th>
                    <th>Bairro</th>
                    <th>Estado</th>
                    <th>Complemento</th>
                    <th>Cep</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody align="center">
                {% for c in cadastro %}
                <tr>
                    <td>{{c.ra}}</td>
                    <td>{{c.nome_do_aluno}}</td>
                    <td>{{c.email_do_aluno}}</td>
                    <td>{{c.logradouro}}</td>
                    <td>{{c.numero}}</td>
                    <td>{{c.bairro}}</td>
                    <td>{{c.estado}}</td>
                    <td>{{c.complemento}}</td>
                    <td>{{c.cep}}</td>
                    <td>
                        <a href="/edit/{{c.ra}}"> <img src="{{url_for('static', filename='img/editar.png')}}"
                                alt="editar"> </a>
                        <a href="/delete/{{c.ra}}"> <img src="{{url_for('static', filename='img/excluir.png')}}"
                                alt="excluir"> </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    <script>href="{{url_for('static', filename='js/bootstrap.min.js')}}"
    </script>
    <br>
    <footer>
        <p><strong>Desenvolvido por Alexsandro Augusto Ignácio</strong></p>
    </footer>
</html>
